@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
:root {
    --cor-principal: #004F87;
    --cor-secunária: #D8DF00;
    --cor-texto: #002049;
    --cor-fundo: #FFD1BF;
    --fonte: "Silkscreen", sans-serif;
}

body{
    background-color: var(--cor-fundo);
    color: var(--fonte);
    font-family: var(--fonte);
    height: 100vh;
    margin: 0;
}

.cabecalho{
    background-color: var(--cor-secunária);
    text-align: center;
}

.cabecalho_titulo{
    font-size: 2 rem;
    color: var(--cor-texto);
}